<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>gestioneAutenticazione.LoginControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistraControl</servlet-name>
    <servlet-class>gestioneAccount.RegistraControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutControl</servlet-name>
    <servlet-class>gestioneAutenticazione.LogoutControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificaAccount</servlet-name>
    <servlet-class>gestioneAccount.ModificaAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ElimicaAccount</servlet-name>
    <servlet-class>gestioneAccount.ElimicaAccount</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FirmaPresenza</servlet-name>
    <servlet-class>gestioneRegistroTirocini.FirmaPresenza</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccettaRifiutaRichiesta</servlet-name>
    <servlet-class>gestioneRichieste.AccettaRifiutaRichiesta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FirmaDocumento</servlet-name>
    <servlet-class>gestioneRichieste.FirmaDocumento</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RichiestaControl</servlet-name>
    <servlet-class>gestioneRichieste.RichiestaControl</servlet-class>
  </servlet>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>senderep@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>1qaz2wsx3edc4rfv</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>